/* pre-defined media-queries */
/* @media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 450px) {
} */

.main {
  /* border: 1px solid; */
  max-width: 80vw;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@media (max-width: 1536px) {
  .main {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .main {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .main {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .main {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .main {
    max-width: 450px;
  }
}
@media (max-width: 450px) {
  .main {
    max-width: 100%;
  }
}
